---
title: frontpage
layout: frontpage
group: navigation
---
<div class="section intro">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img class="img-responsive"src="/{{ site.first-image }}" alt="">
      </div>
      <div class="col-md-6">
        {% markdown frontpage/lead.md %}
      </div>
    </div>
  </div>
</div>
<div class="section">
    <div class="container">
      <div class="row">
          <div class="col-md-12 text-center">
              <h2 class="text-center">Call us today to book your lesson:&nbsp;</h2>
          </div>
      </div>
    </div>
          <div class="container">
              <div class="row">
                  <div class="col-md-12 text-center">
                      <a href="#" class="nonclick-phone btn btn-lg btn-primary">
                       <i class="fa fa-phone fa-fw -square fa fa-fw fa-lg fa-phone fa-rotate-270"></i>
                       <span class="network-name">{{ site.phone }}</span>
                     </a>
                     <a href="tel:{{ site.phonenumber }}" class="click-phone btn btn-lg btn-primary">
                       <i class="fa fa-phone fa-fw -square fa fa-fw fa-lg fa-phone fa-rotate-270"></i>
                       <span class="network-name">Click here to call me</span>
                     </a>
                  </div>
              </div>
        </div>
</div>
<div class="section alt-colour">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              {% markdown frontpage/services-intro.md %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
              <img class="img-responsive"src="/{{ site.service-1-image }}" alt="">
                {% markdown frontpage/column-1.md %}
            </div>
            <div class="col-md-4">
                <img class="img-responsive"src="/{{ site.service-2-image }}" alt="">
                {% markdown frontpage/column-2.md %}
            </div>
            <div class="col-md-4">
              <img class="img-responsive"src="/{{ site.service-3-image }}" alt="">
                {% markdown frontpage/column-3.md %}
            </div>
        </div>
    </div>
</div>
<hr>
<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<!--<div class="container">
  <h2>Frequently Asked Questions</h2>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Collapsible Group 1</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Collapsible Group 2</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Collapsible Group 3</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
  </div>
</div>-->
<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<div class="section">
    <div class="container">
      <div class="row">
          <div class="col-md-12 text-center">
              <h2 class="text-center">Call us today to book your lesson:&nbsp;</h2>
          </div>
      </div>
    </div>
          <div class="container">
              <div class="row">
                  <div class="col-md-12 text-center">
                      <a href="#" class="nonclick-phone btn btn-lg btn-primary">
                       <i class="fa fa-phone fa-fw -square fa fa-fw fa-lg fa-phone fa-rotate-270"></i>
                       <span class="network-name">{{ site.phone }}</span>
                     </a>
                     <a href="tel:{{ site.phonenumber }}" class="click-phone btn btn-lg btn-primary">
                       <i class="fa fa-phone fa-fw -square fa fa-fw fa-lg fa-phone fa-rotate-270"></i>
                       <span class="network-name">Click here to call me</span>
                     </a>
                  </div>
              </div>
        </div>
</div>
<!--<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>
    </div>
</div>-->
<div class="section">
    <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2>Testimonials</h2>
          </div>
            <div class="col-md-3">
              <blockquote>
                  {% markdown frontpage/testimonial-1.md %}
              </blockquote>
            </div>
            <div class="col-md-3">
                <blockquote>
                    {% markdown frontpage/testimonial-2.md %}
                </blockquote>
            </div>
            <div class="col-md-3">
              <blockquote>
                  {% markdown frontpage/testimonial-3.md %}
              </blockquote>
            </div>
            <div class="col-md-3">
              <blockquote>
                  {% markdown frontpage/testimonial-4.md %}
              </blockquote>
            </div>
        </div>
    </div>
</div>
<!--<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>
    </div>
</div>-->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center text-primary">Team</h1>
                <p class="text-center">We are a group of skilled individuals.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
                class="center-block img-circle img-responsive">
                <h3 class="text-center">John Doe</h3>
                <p class="text-center">Instructor</p>
            </div>
            <div class="col-md-4">
                <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
                class="center-block img-circle img-responsive">
                <h3 class="text-center">John Doe</h3>
                <p class="text-center">Instructor</p>
            </div>
            <div class="col-md-4">
                <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
                class="center-block img-circle img-responsive">
                <h3 class="text-center">John Doe</h3>
                <p class="text-center" contenteditable="true">Instructor</p>
            </div>
        </div>
    </div>
</div>
