---
title: alt-frontpage
layout: alt-frontpage
group: navigation
---
<div class="first section section-info text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="h1 main-heading text-inverse">Graduate School of Motoring</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-inverse">Ambulance driving, Jeep &amp; Trailer Lessons, Driving Lessons</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p contenteditable="true" class="text-warning">Call Today and Learn to Drive</p>
            </div>
        </div>
    </div>
</div>
<div class="section-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center text-primary">What We Do</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
              <img class="img-responsive"src="/{{ site.service-1-image }}" alt="">
                <h2>Ambulance Driving Lessons</h2>
                <p>Learn to drive an ambulance with us. Get your C1 licence with our team
                    of qualified instructors. Our specially designed ambulance is great to
                    learn to drive in.</p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive"src="/{{ site.service-2-image }}" alt="">
                <h2>Jeep &amp; Trailer Lessons</h2>
                <p>Learn to drive safely and efficiently whilst towing a trailer or horse
                    box&nbsp;</p>
            </div>
            <div class="col-md-4">
              <img class="img-responsive"src="/{{ site.service-3-image }}" alt="">
                <h2>Male &amp; Female Instructors</h2>
                <p>All our instructors are highly experienced and fully insured</p>
            </div>
        </div>
    </div>
</div>
<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<div class="container">
  <h2>Frequently Asked Questions</h2>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Collapsible Group 1</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Collapsible Group 2</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Collapsible Group 3</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
  </div>
</div>
<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<div class="section-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="text-center">Call us today to book your lesson&nbsp;</h1>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <a class="btn btn-lg btn-primary">087 231 6010<i class="-square fa fa-fw fa-lg fa-phone fa-rotate-270"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>
    </div>
</div>
<div class="section-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <blockquote>
                    <p>Mike is fantastic!</p>
                    <footer>Someone famous</footer>
                </blockquote>
            </div>
            <div class="col-md-3">
                <blockquote>
                    <p>Irene is the best ever!</p>
                    <footer>Someone famous</footer>
                </blockquote>
            </div>
            <div class="col-md-3">
                <blockquote>
                    <p>Irene is the best ever!</p>
                    <footer>Someone famous</footer>
                </blockquote>
            </div>
            <div class="col-md-3">
                <blockquote>
                    <p>Mike is fantastic!</p>
                    <footer>Someone famous</footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>
    </div>
</div>
<div class="section-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center text-primary">Team</h1>
                <p class="text-center">We are a group of skilled individuals.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
                class="center-block img-circle img-responsive">
                <h3 class="text-center">John Doe</h3>
                <p class="text-center">Instructor</p>
            </div>
            <div class="col-md-4">
                <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
                class="center-block img-circle img-responsive">
                <h3 class="text-center">John Doe</h3>
                <p class="text-center">Instructor</p>
            </div>
            <div class="col-md-4">
                <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
                class="center-block img-circle img-responsive">
                <h3 class="text-center">John Doe</h3>
                <p class="text-center" contenteditable="true">Instructor</p>
            </div>
        </div>
    </div>
</div>
