<footer class="section section-primary">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
              <h3><span itemprop="name">{{site.business-name}}</span></h3>
          <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
           {% if site.address-line-1 != nil %}<span itemprop="streetAddress">{{site.address-line-1}}</span><br/>{% endif %}
           {% if site.address-line-2 != nil %}<span itemprop="streetAddress">{{site.address-line-2}}</span><br/>{% endif %}
           {% if site.address-town != nil %}<span itemprop="addressLocality">{{site.address-town}}</span><br/>{% endif %}
           {% if site.address-county != nil %}<span itemprop="addressLocality">{{site.address-county}}</span><br/>{% endif %}
           {% if site.address-country != nil %}<span itemprop="addressCountry">{{site.address-country}}</span><br/>{% endif %}
           <!--<span itemprop="postalCode"></span> this won't display, but coming soon in Ireland! -->
            </div>
          </div>
            <div class="col-sm-6">
                <p class="text-info text-right">
                    <br>
                    <br>
                </p>
                <div class="row">
                    <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                        <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                        <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                        <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                        <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 hidden-xs text-right">
                        <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                        <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                        <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                        <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--<script src="/assets/js/custom-jquery.js"></script>-->
    <!-- Custom CSS -->
    <!--<link rel="stylesheet" href="{{ site.baseurl }}/css/main.min.css">-->
    <!-- Custom JS -->
    <script src="{{ site.baseurl }}assets/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}assets/js/scripts.min.js"></script>
    <!--<script src="{{ site.baseurl }}assets/js/bootstrap.min.js"></script>-->
    <!--<script src="{{ site.baseurl }}assets/js/grayscale.js"></script>-->
    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>-->
    <script src="http://localhost:35729/livereload.js"></script>
</footer>
