<div class="left-logo">
  <div class="container">
    <header class="main-logo">
      <div class="row">
        <div class="col-xs-8">
          <h1 id="site-title"><a href="/"><i class="fa fa-graduation-cap"></i>&nbsp;Graduate School of Motoring</a></h1>
          <h4 class="centreline tagline"><span>{{site.tagline}}</span></h4>
        </div>
        <div class="col-xs-4">
          <div class="pull-right">
            <!--<a id="header-phone" class="btn btn-lg btn-primary">087 231 6010<i class="fa fa-fw fa-lg fa-phone fa-rotate-270"></i></a>-->
            <a href="#" id="header-phone" class="nonclick-phone btn btn-lg btn-primary">
            <i class="fa fa-phone fa-fw -square fa fa-fw fa-lg fa-phone fa-rotate-270"></i>
            <span class="network-name">{{ site.phone }}</span>
            </a>
            <a href="tel:{{ site.phonenumber }}" id="header-phone" class="click-phone btn btn-lg btn-primary">
            <i class="fa fa-phone fa-fw -square fa fa-fw fa-lg fa-phone fa-rotate-270"></i>
            <span class="network-name">Click here to call me</span>
            </a>
          </div>
        </div>
      </div>
    </header>
    <div class="header-nav">
      <header class="">
        <div class="navbar topnav navbar-static-top">
          <div class="row">
            <div class="col-sm-12">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="button-label">Menu</span>
                  <div class = "button-burger">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </div>
                </button>
              </div>
              <nav id="top-nav" class="collapse navbar-collapse top-nav" role="navigation">
                <ul id="menu-grid" class="nav navbar-nav">
                  {% for node in site.data.nav %}
                  {% if page.url == node.url/ %}
                  <li class="active"><a href="{{node.url}}" class="active">{{node.title}}</a></li>
                  {% else %}
                  <li><a href="{{node.url}}">{{node.title}}</a></li>
                  {% endif %}
                  {% endfor %}
                  <li class="placeholder"></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </header>
    </div>
  </div>
</div>
