@fonts: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

@border-radius-base:        0;
@border-radius-large:       0;
@border-radius-small:       0;

// Colors
//Dark--------------------------------------------------------------------------
@bg-color-1: #666;
@bg-color-2: #fff;
@fg-color-1: #6e1e1e;
@fg-color-2: #552145;
//Light-------------------------------------------------------------------------
@bg-color-3: #a0c024;
@bg-color-4: rgba(24, 29, 186, 0.56);
@fg-color-3: #c61515;
@fg-color-4: #db13a3;
//------------------------------------------------------------------------------
@header-background: @bg-color-1;
@footer-background: @bg-color-1;
@body-background: @bg-color-2;
@body-foreground: @fg-color-1;
@main-text-color: @bg-color-1;
@alt-text-color: @fg-color-2;
@section-background: @bg-color-3;
@alt-section-background: @bg-color-4;
@section-foreground: @fg-color-3;
@alt-section-foreground: @fg-color-4;
@link: @fg-color-4;
//------------------------------------------------------------------------------
@brand-primary:         #5bc0de;//rgb(0, 52, 102);
@brand-tint:            rgb(116,125,125);
@brand-button:          @bg-color-4;
@brand-super-dark:      rgb(34,34,34);
@brand-green:           rgb(50, 153, 0);
@light-blue:            rgb(184, 203, 252);
@light-grey:            rgb(204, 204, 204);

@link-color: darken( @light-blue, 30% );



// Element Colours
// -----------------------------------------------------------------------------
.section.alt-colour {
  background: @brand-super-dark;
  color: #d2d2d2;
}




@font-size-base: 18px;

@carawebs-vertical-padding: 20px;

@line-height-large:              1.33;
@line-height-small:              1.5;

// Typography
// -------------------------

@font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Lora, Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;
//@font-family-base:        @font-family-serif;

@font-size-base:          14px;
@font-size-large:         ceil(@font-size-base * 1.25); // ~18px
@font-size-small:         ceil(@font-size-base * 0.85); // ~12px

@font-size-h1:            floor(@font-size-base * 2.6); // ~36px
@font-size-h2:            floor(@font-size-base * 2.15); // ~30px
@font-size-h3:            ceil(@font-size-base * 1.7); // ~24px
@font-size-h4:            ceil(@font-size-base * 1.25); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil(@font-size-base * 0.85); // ~12px

@line-height-base:        1.428571429; // 20/14
@line-height-computed:    floor(@font-size-base * @line-height-base); // ~20px

//@headings-font-family:    @font-family-base;
@headings-font-family:    Lato;//@font-family-sans-serif;
@headings-font-weight:    500;
@headings-line-height:    1.1;
@headings-color:          inherit;
